body {
    background: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

#hud {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px 0;
    font-weight: bold;
}

#cenario {
    width: 600px;
    height: 320px;
    margin: 0 auto;
    background: url("fundo.png") center center no-repeat;
    background-size: cover;
    border: 2px solid #333;
    position: relative;
    overflow: hidden;
}

/* Criaturas (corvos) */
.criatura {
    width: 48px;
    height: 48px;
    pointer-events: none;
}

/* Fazendeiros */
.fazendeiro {
    width: 48px;
    height: 48px;
}

#painel-fazendeiro {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.projetil {
    width: 12px;
    height: 4px;
    background: yellow;   /* projétil simples, tipo laser */
    border-radius: 2px;
    pointer-events: none;
}
