body {
    margin: 0;
    padding: 0;
    background: url("fundo.png") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    backdrop-filter: blur(3px);
}

.logo {
    width: 240px;
    max-width: 85%;
    margin-bottom: 20px;
}

.box {
    width: 100%;
    max-width: 330px;
    background: rgba(255, 255, 255, 0.95);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.hidden {
    display: none;
}

input {
    padding: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.btn {
    padding: 14px;
    background: #0d6efd;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.btn:active {
    background: #0b5ed7;
}

.link {
    text-align: center;
    color: #0d6efd;
    cursor: pointer;
    font-size: 15px;
}
.btn-ranking {
    margin-top: 5px;
    padding: 12px;
    width: 100%;
    background: linear-gradient(180deg, #ffcc33, #ff9900);
    color: #663300;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.25);
    transition: 0.2s;
}

.btn-ranking:hover {
    background: linear-gradient(180deg, #ffdd55, #ffaa00);
    transform: translateY(-2px);
}

.btn-ranking:active {
    background: linear-gradient(180deg, #ffbb22, #ff8800);
    transform: translateY(1px);
}
