/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
}

/* WRAPPER DO JOGO */
.game-wrapper {
    width: 600px;
    margin: 40px auto;
    padding: 20px;

    background: rgba(255,255,255,0.08);
    border-radius: 12px;
    box-shadow: 0 0 16px rgba(0,0,0,0.7);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* HUD */
#hud {
    display: flex;
    justify-content: center;
    gap: 40px;

    font-size: 22px;
    font-weight: bold;
}

/* CENÁRIO */
#cenario {
    width: 600px;
    height: 380px;
    background: #bcbcbc;
    border: 2px solid #ffffff80;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

/* PLAYER (fazendeiro) */
#player {
    position: absolute;
    width: 40px;
    height: 40px;
    image-rendering: pixelated;
}

/* CORVOS */
.corvo {
    position: absolute;
    width: 48px;
    height: 48px;
    image-rendering: pixelated;
    cursor: pointer;
    user-select: none;
}

/* Botão Sair */
#btnLogout {
    padding: 10px 30px;
    font-size: 17px;
    border-radius: 6px;
    border: none;
    background: #c00;
    color: #fff;
    cursor: pointer;
}

#btnLogout:hover {
    background: #e00000;
}

/* Versão */
#versao {
    text-align: left;
    width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 12px;
    color: #fff;
}
