/* Fundo */
body {
    margin: 0;
    padding: 0;
    background: url("fundo.png") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

/* Container central */
.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}

/* Card branco */
.card {
    background: rgba(255, 255, 255, 0.95);
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
    text-align: center;
}

/* Esconde quando não está ativo */
.hidden {
    display: none;
}

/* LOGO */
.logo {
    width: 180px;
    margin-bottom: 10px;
}

/* Inputs */
input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

/* Botões */
.btn {
    padding: 12px;
    background: #0d6efd;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.btn:hover {
    background: #0b5ed7;
}

/* Link alternativo */
.link {
    margin-top: 5px;
    color: #0d6efd;
    cursor: pointer;
    font-size: 15px;
}
