/* Fundo */
body {
    margin: 0;
    background: url("cenario.png") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

/* Container principal */
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    padding: 20px;
}

/* Logo */
.logo {
    width: 140px;
    margin-bottom: 10px;
}

.titulo {
    color: white;
    margin-bottom: 15px;
}

/* Caixa */
.box {
    width: 100%;
    max-width: 330px;
    background: rgba(255,255,255,0.95);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hidden {
    display: none;
}

/* Inputs */
input {
    padding: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Botões */
.btn {
    padding: 14px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.btn:active {
    background: #005ec7;
}

/* Link */
.link {
    text-align: center;
    color: #007bff;
    font-size: 15px;
    cursor: pointer;
}

/* Mobile ajuste extra */
@media (max-width: 480px) {

    .logo {
        width: 120px;
    }

    .box {
        padding: 20px;
    }

    input, .btn {
        font-size: 16px;
    }
}

/* MENU -------------------------------------------- */

.menu-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    text-align: center;
}

.menu-logo {
    width: 260px;
    max-width: 90%;
    margin-bottom: 10px;
}

.menu-titulo {
    color: white;
    font-size: 22px;
    margin-top: 5px;
}

#menuJogador {
    color: #fff;
    margin-bottom: 25px;
}

.menu-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    gap: 15px;
}

/* Botões do menu */
.btn-menu {
    padding: 18px;
    border: none;
    border-radius: 10px;
    background: #ff9800;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.25);
}

.btn-menu:active {
    background: #e68900;
}

.btn-menu.sair {
    background: #d9534f;
}

.btn-menu.sair:active {
    background: #c8403c;
}

/* Celular */
@media(max-width: 480px) {
    .menu-logo {
        width: 200px;
    }
}

