.game-wrapper {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    background: rgba(0,0,0,0.35);
    backdrop-filter: blur(4px);
    border-radius: 12px;
    box-shadow: 0 0 14px rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hud {
    display: flex;
    gap: 40px;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

/* CENÁRIO (garante posição relativa e que nada saia da área) */
#cenario {
    width: 600px;
    height: 380px;
    background: rgba(255,255,255,0.05);
    border: 2px solid rgba(255,255,255,0.3);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

/* CORVO ANIMADO */
.corvo {
    position: absolute;
    width: 48px;
    height: 48px;
    image-rendering: pixelated;
    cursor: pointer;
    user-select: none;
}


#btnlogout {
    padding: 10px 30px;
    font-size: 17px;
    background: #b30000;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#btnlogout:hover {
    background: #e00000;
}

@media(max-width: 650px) {
    .game-wrapper {
        width: 90%;
    }
    #cenario {
        width: 100%;
        height: 300px;
    }
}
